body {
  min-height: 100vh;

}
.card {
  height: 372px;
  border-radius: 4px;
  box-shadow: 2px 2px 6px 0px;
  transition: transform 0.2s ease;
  overflow: hidden;
}
.my-container {
  width: 1240px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 26px;
  margin-top: 16px;
  margin-bottom: 24px;
  min-height: 50vh;
  
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 6px 0px;
}


.card-title {
  font-weight: bold;
}

.banner {
  background-size: 100%;
  background-position-x: center;
  background-position-y: 25%;
  padding: 150px 0;
  margin-bottom: 30px;
}

.title-index {
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 46px;
  font-weight: bold;
}

.banner p {
  text-align: center;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.footer {
  
  background: #2c2b2b;
  text-align: center;
  justify-content: space-between;
  padding: 20px;
  color: #6B6C6C;
  
}
.footer-links {
  align-items: center;
}
.footer-links a {
  color: #1EDD88;
  opacity: 0.15;
  text-decoration: none;
  font-size: 37px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer p {
  color: #6B6C6C;
  text-align: center;
  align-items: center;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

