
.container-show {
  margin: 12px 80px 80px;
  height: 90vh;
  display: flex;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  border: 3px solid rgb(212, 164, 6);
  margin-block: auto;
  border: inset;
  border-radius: 16px;
  background-color: #0001;
}

.title-show {
  color: darkgrey;
  font-weight: bolder;
  text-align: center;
  background-color: #0001;
}

.img-offre {
  width: 45vh;
  display: flex;
  align-self: auto;
  margin-left: auto;
  border-radius: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: double;
  border-color: gold;
}

.offre-description-show {
  background-color: oldlace;
  width: 50%;
  height: 80vh;
  text-align: center;
  padding: 150px;
  border-radius: 60px;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.metier {
  color: black;
  font-size: xx-large;
  border: solid;
  border-radius: 6px;
  margin-bottom: 50px;
  margin-top: -43px;
}

.prix {
  color: black;
  margin: 50px;
}

.description-show {
  color: black;
  font-style: italic;
}
/*button reserve ton offre*/

.btn-container  {
  display: flex;
  justify-content: center;
  padding: 4px;
  margin-top: 200px;
  border-radius: 4px;
}

.btn-offre-reserver {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s ease;
  background-color: whitesmoke;
  text-transform: uppercase;
}

.btn-offre-reserver:hover {
  opacity: 1;
}
