.card-offer {
  padding: 10px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  height: 150px;
  border: 1px solid;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: black;
  font-weight: bolder;
  
}