.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon-home {
  position: fixed;
  z-index: 999;
  background-color: transparent !important;
  width: 100%;
  
}
.navbar-right {
  display: flex;
  align-items: right;
  
}

#navbarSupportedContent {
  display: flex;
  justify-content: space-between;
}
