<div class="title align-text-center">
  <h1>Détails de l'offre</h1>
</div>

<div class="container-offre">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <%= @offre.métier %> <br>
      <%= @offre.prix %> "euros"
      <button type="button" class="btn btn-danger">
      <%= link_to "réserver", new_demande_path(@offre) %>
      </button>
    </div>
  </div>



</div>
