
<h1>Détails de l'offre</h1>

<div class="container">
  <div class="card-product">
    <div class="card-product-infos">
      <h2> <%=@offre.métier%></h2>
      <p>Prix/jour: <strong><%= @offre.prix %></strong> euros.</p>
      <p><%=@offre.description%></p>
        <button class="btn btn-ghost">
        <%= link_to "Réserver", new_demande_path(@offre) %>
        </button>
    </div>
  </div>
</div>
